resources:
- name: {{ env['deployment'] }}-sa
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['deployment'] }}-sa
    displayName: serviceAccount-{{ env['deployment'] }}-{{ env['name'] }}
<!-- outputs:
- name: serviceAccount
  value: $({{ env['deployment'] }}-sa.accountId) -->